body {
  padding: 5% 0% 5% 0%;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 20px;
}

.consent p {
  font-size: 14px;
}

.btn {
  font-size: 18px !important;
}

text {
  cursor: default;
}

.container-fluid {
  padding: 0% 5% 0% 5% !important;
}

#word2vec {
  cursor: zoom-in;
}
