{% extends "layout.html" %}
{% block body %}
    <div>
      <form action="{{ url_for('index') }}" method="post">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <h2> Getting Started </h2>
              <p>
                Researchers often look at the words used by the media to understand how a topic is covered. Using a visualization of words used in online news articles about a given topic, we want you to try to find different conversations within the topic based on the key words you see in the visualization.
              </p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-7">
              {% if viz_type == "standard" %}
              <img src="{{ url_for('static', filename='img/standard_static.png') }}">
              {% elif viz_type == "rollover" %}
              <img src="{{ url_for('static', filename='img/similar_static.png') }}">
              {% elif viz_type == "word2vec" %}
              <img src="{{ url_for('static', filename='img/space_static.png') }}">
              {% endif %}
            </div>
            <div class="col-lg-5 d-flex align-items-center">
              <p>
                {% if viz_type == "standard" or viz_type == "rollover" %}
                This visualization is called a <b>word cloud</b>. Here is one about reporting on climate change. Bigger and darker words are used more often; smaller and lighter words are used less often. As you can see, <b>climate</b> and <b>global</b> are the most used words.
                {% elif viz_type == "word2vec" %}
                This visualization is called the <b>word space</b>. Here is one about reporting on climate change. Bigger and darker words are used more often; smaller and lighter words are used less often. As you can see, <b>climate</b> and <b>global</b> are the most used words.
                {% endif %}
              </p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-7">
              {% if viz_type == "standard" %}
              <img src="{{ url_for('static', filename='img/standard_highlight.png') }}">
              {% elif viz_type == "rollover" %}
              <img src="{{ url_for('static', filename='img/similar_highlight.png') }}">
              {% elif viz_type == "word2vec" %}
              <img src="{{ url_for('static', filename='img/space_highlight.png') }}" style="height: 90%; width: 90%;">
              {% endif %}
            </div>
            <div class="col-lg-5 d-flex align-items-center">
              <p>
                When you hover over a word with your mouse, it turns <b>blue</b> to make it easier to read.
                {% if viz_type == "rollover" %}
                Words that are often used in the same context as that word also turn blue. This 'relatedness' is based on an algorithmic analysis of how words are used together.
                {% elif viz_type == "word2vec" %}
                Words that turn blue, and are within the dark background cone, are all used in similar ways. This 'similarity' is based on an algorithmic analysis of how all the words are used together.
                {% endif %}
              </p>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-lg-12">
              <h2> Identifying Conversations </h2>
              <p>
                {% if viz_type == "standard" %}
                You can try to identify different conversations by looking at words that go together.
                {% elif viz_type == "rollover" %}
                You can try to identify different conversations by looking at words that are related.
                {% elif viz_type == "word2vec" %}
                You can try to identify different conversations by looking at words that are related.
                {% endif %}
              <p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-7">
              {% if viz_type == "standard" %}
              <img src="{{ url_for('static', filename='img/standard_conversation.png') }}">
              {% elif viz_type == "rollover" %}
              <img src="{{ url_for('static', filename='img/similar_political.png') }}">
              {% elif viz_type == "word2vec" %}
              <img src="{{ url_for('static', filename='img/space_political.png') }}" style="height: 90%; width: 90%;">
              {% endif %}
            </div>
            <div class="col-lg-5 d-flex align-items-center">
              <p>
                {% if viz_type == "standard" %}
                Starting with bigger words, we can see that "clinton", "trump", and "obama"; that suggests a <i>political</i> conversation. A different conversation could be about <i>alternative energy</i> - indicated by "sustainable", "solar", and "renewable". This is the information we want you to identify and enter.
                {% elif viz_type == "rollover" %}
                For instance, if you rollover "trump", then "obama" and "clinton" turn blue; you might name this a <i>political</i> conversation.
                {% elif viz_type == "word2vec" %}
                For instance, if you rollover "trump", then "obama" and "clinton" turn blue; you might name this a <i>political</i> conversation.
                {% endif %}
              <p>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-lg-7">
              {% if viz_type == "rollover" %}
              <img src="{{ url_for('static', filename='img/similar_energy.png') }}">
              {% elif viz_type == "word2vec" %}
              <img src="{{ url_for('static', filename='img/space_emissions.png') }}" style="height: 90%; width: 90%;">
              {% endif %}
            </div>
            <div class="col-lg-5 d-flex align-items-center">
              <p>
                {% if viz_type == "rollover" %}
                Rollover "sustainable" and you'll see "renewable" and "solar" turn blue; you might name this an <i>alternative energy</i> conversation.
                This is the information we want you to identify and enter.
                {% elif viz_type == "word2vec" %}
                Rollover "emissions" and you'll see "climate" and "china" turn blue; you might name this an <i>emissions negotiation</i> conversation.
                This is the information we want you to identify and enter.
                {% endif %}
              <p>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-lg-7" id="svg-container">
              <svg id="{{ viz_type }}" style="width: 100%;">
              </svg>
            </div>
            <div class="col-lg-5 d-flex align-items-center">
              <div>
                <h2> Try It Out! </h2>
                <p>
                  You can interact directly with the visualization on the left to give it a test-run.
                  {% if viz_type == "word2vec" %}
                  Double-click to zoom in and out.
                  {% endif %}
                  When you're ready to begin the study, click the button below.
                </p>
              </div>
            </div>
          </div>
          <br>
          <hr>
          <br>
          <div class="row">
            <div class="col-lg-12">
              <input type="submit" value="Begin Study" class="btn btn-primary float-right">
            </div>
          </div>
          <input type="hidden" name="step" value="viz">
          <input type="hidden" name="viz_type" value="{{ viz_type }}">
          <input type="hidden" name="user_id" value="{{ user_id }}">
          <div class="row">
            <div class="col-lg-12" style="text-align:center;">
              - <b>1</b> | 2 | 3 -
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rolloverCloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/standardCloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/word2vecCloud.js') }}"></script>
    <script type="text/javascript">
      $.ajax({
        method: 'GET',
        url: '/vizTutorialData.json',
        contentType: 'application/json',
        success: function(data) {
          switch({{ viz_type|tojson|safe }}) {
            case 'rollover':
              var options = {
                height: 500,
                cloudDomId: '#rollover',
                minColor: '#d9d9d9',
                maxColor: '#000000',
                minFontSize: '18',
                maxFontSize: '72',
              };
              generateRolloverCloud(options, data);
              break;
            case 'standard':
              var options = {
                height: 500,
                cloudDomId: '#standard',
                minColor: '#d9d9d9',
                maxColor: '#000000',
                minFontSize: '18',
                maxFontSize: '72',
              };
              generateStandardCloud(options, data);
              break;
            case 'word2vec':
              var options = {
                  width: 800,
                  height: 800,
                  cloudDomId: '#word2vec',
                  minColor: '#bab8b8',//'#d9d9d9',
                  maxColor: '#000000',
                  minFontSize: '18',
                  maxFontSize: '72',
                  xProperty: 'w2v_x',
                  yProperty: 'w2v_y',
                };
                generateWord2vecCloud(options, data);
              break;
            default:
              break;
          }
        }
      });
    </script>
{% endblock %}
