{% extends "layout.html" %}
{% block body %}
    <div>
      <form action="{{ url_for('index') }}" method="post">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1> Getting Started... </h1>
              <br>
              <p>
                Researchers often look at the words used by the media to understand how a topic is covered. We will show you a visualization of words used by media and we want you to try to find different converstations in the media about the topic, based on the key words you see.
              </p>
              {% if viz_type == "standard" %}
                <p>
                  This visualization is called a <b>word cloud</b>. Here is one about reporting on climate change. Bigger and darker words are used more often; smaller and lighter words are used less often. As you can see, <b>climate</b> and <b>global</b> are the most used words.
                </p>
                <p>
                  When you hover over a word with your mouse, it turns <b>blue</b> to make it easier to read. 
                </p>
                <p>
                  You can try to identify different conversations by looking at words that go together.  Starting with bigger words, we can see that "clinton", "trump", and "obama"; that suggests a <i>political</i> conversation. A different conversionsation could be about <i>alternative energy</i> - indicated by "sustainable", "solar", and "renewable". This is the information we want you to identify and enter.
                <p>
              {% elif viz_type == "rollover" %}
                <p>
                  This visualization is called a <b>word cloud</b>. Here is one about reporting on climate change. Bigger and darker words are used more often; smaller and ligher words are used less often. As you can see, <b>climate</b> and <b>global</b> are the most used words.
                </p>
                <p>
                  When you hover over a word with your mouse, it turns <b>blue</b> to make it easier to read. Words that are often used together with that word also turn blue.  This 'relatedness' is based on an algorithmic analysis of how words are used together.
                <p>
                <p>
                  You can try to identify different conversations by looking at words that are related.  For instance, if you rollover "trump", then "obama" and "clinton" turn blue; you might name this a <i>political</i> conversation. Rollover "sustainable" and you'll see "renewable" and "solar" turn blue; you might name this an <i>alternative energy</i> conversation.
                <p>
              {% elif viz_type == "word2vec" %}
                <p>
                  This visualization is called the <b>word space</b>. Here is one about reporting on climate change. Bigger and darker words are used more often; smaller and ligher words are used less often. As you can see, <b>climate</b> and <b>global</b> are the most used words.
                </p>
                <p>
                  When you hover over a word with your mouse, it turns <b>blue</b> to make it easier to read. Words that turn blue, and are within the dark background cone, are all used in simlar ways. This 'similarity' is based on an algorithmic analysis of how all the words are used together.
                <p>
                <p>
                  You can try to identify different conversations by looking at words that are related.  For instance, if you rollover "trump", then "obama" and "clinton" turn blue; you might name this a <i>political</i> conversation. Rollover "emissions" and you'll see "climate" and "china" turn blue; you might name this an <i>emissions negotiation</i> conversation.
                <p>
              {% endif %}
              <br>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-lg-12" id="svg-container">
              <svg id="{{ viz_type }}" style="width: 100%;">
              </svg>
            </div>
          </div>
          <br>
          <hr>
          <br>
          <div class="row">
            <div class="col-lg-12">
              <input type="submit" value="Try it!" class="btn btn-primary float-right">
            </div>
          </div>
          <input type="hidden" name="step" value="viz">
          <input type="hidden" name="viz_type" value="{{ viz_type }}">
          <input type="hidden" name="user_id" value="{{ user_id }}">
        </div>
      </form>
    </div>
    <script src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rolloverCloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/standardCloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/word2vecCloud.js') }}"></script>
    <script type="text/javascript">
      $.ajax({
        method: 'GET',
        url: '/vizTutorialData.json',
        contentType: 'application/json',
        success: (data) => {
          switch({{ viz_type|tojson|safe }}) {
            case 'rollover':
              var options = {
                height: 500,
                cloudDomId: '#rollover',
                minColor: '#d9d9d9',
                maxColor: '#000000',
                minFontSize: '18',
                maxFontSize: '72',
              };
              generateRolloverCloud(options, data);
              break;
            case 'standard':
              var options = {
                height: 500,
                cloudDomId: '#standard',
                minColor: '#d9d9d9',
                maxColor: '#000000',
                minFontSize: '18',
                maxFontSize: '72',
              };
              generateStandardCloud(options, data);
              break;
            case 'word2vec':
              var options = {
                  width: 800,
                  height: 800,
                  cloudDomId: '#word2vec',
                  minColor: '#bab8b8',//'#d9d9d9',
                  maxColor: '#000000',
                  minFontSize: '18',
                  maxFontSize: '72',
                  xProperty: 'w2v_x',
                  yProperty: 'w2v_y',
                };
                generateWord2vecCloud(options, data);
              break;
            default:
              break;
          }
        }
      });
    </script>
{% endblock %}
