{% extends "layout.html" %}
{% block body %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12" style="text-align: center">
          <b>*** DO NOT refresh this page or click the back button ***</b>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="row">
        <div class="col-lg-12">
          <h1 id="title"></h1>
          <p>Explore this visualization of the words online media used to report on the Ebola outbreak in 2014.
            {% if viz_type == 'rollover' %}
            Hover over a word with your mouse pointer and related words will be highlighed in blue.
            {% endif %}
            {% if viz_type == 'word2vec' %}
            Hover over a word with your mouse pointer and related words will be highlighed in orange.
            You can also double-click to zoom in and out.
            {% endif %}
            Then, fill in the form below with two main conversations you see and the key words that you think define it.
          </p>
        </div>
      </div>
      <br>
      <br>
      <p id="loading">
        Please wait while visualization loads...
      </p>
      <div class="row d-flex align-items-center">
        <div class="col-lg-7" id="svg-container">
          <svg id="{{ viz_type }}" style="width: 100%;">
          </svg>
        </div>
        <div class="col-lg-5 pl-5">
          <form action="{{ url_for('index') }}" method="post" class="needs-validation" novalidate>
            <div class="form-row mb-3">
              <div class="col-md-6">
                <label for="theme1"><b>Conversation 1</b></label>
                <input type="text" class="form-control form-control-lg" name="theme1" placeholder="Name this conversation" required>
                <div class="invalid-feedback">
                  Please provide a name.
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 mb-2">
                <b> Key Words </b>
              </div>
            </div>
            <div class="form-row mb-5">
              <div class="col-md-3">
                <input type="text" name="theme1_word1" placeholder="Word 1" class="form-control" required>
                <div class="invalid-feedback">
                  What is a key word that defines this conversation?
                </div>
              </div>
              <div class="col-md-3">
                <input type="text" name="theme1_word2" placeholder="Word 2" class="form-control" required>
                <div class="invalid-feedback">
                  What is a key word that defines this conversation?
                </div>
              </div>
              <div class="col-md-3">
                <input type="text" name="theme1_word3" placeholder="Word 3" class="form-control" required>
                <div class="invalid-feedback">
                  What is a key word that defines this conversation?
                </div>
              </div>
            </div>
            <div class="form-row mb-3">
              <div class="col-md-6">
                <label for="theme2"><b>Conversation 2</b></label>
                <input type="text" name="theme2" placeholder="Name this conversation" class="form-control form-control-lg" required>
                <div class="invalid-feedback">
                  Please provide a name.
                </div>
              </div>
            </div>
            <div class="row mb-2">
              <div class="col-md-3">
                <b> Key Words </b>
              </div>
            </div>
            <div class="form-row mb-5">
              <div class="col-md-3">
                <input type="text" name="theme2_word1" placeholder="Word 1" class="form-control" required>
                <div class="invalid-feedback">
                  What is a key word that defines this conversation?
                </div>
              </div>
              <div class="col-md-3">
                <input type="text" name="theme2_word2" placeholder="Word 2" class="form-control" required>
                <div class="invalid-feedback">
                  What is a key word that defines this conversation?
                </div>
              </div>
              <div class="col-md-3">
                <input type="text" name="theme2_word3" placeholder="Word 3" class="form-control" required>
                <div class="invalid-feedback">
                  What is a key word that defines this conversation?
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <input type="submit" value="Submit" class="btn btn-primary">
              </div>
            </div>
            <br>
            <br>
            <input type="hidden" name="step" value="feedback">
            <input type="hidden" name="viz_type" value="{{ viz_type }}">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="hidden" name="start_time" value="{{ start_time }}">
          </form>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="row">
        <div class="col-lg-12" style="text-align:center;">
          - 1 | <b>2</b> | 3 -
        </div>
      </div>
    </div>

    <!-- JavaScript -->
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      // Source: https://getbootstrap.com/docs/4.0/components/forms/#custom-styles
      (function() {
        'use strict';
        window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
      })();
    </script>
    <script src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rolloverCloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/standardCloud.js') }}"></script>
    <script src="{{ url_for('static', filename='js/word2vecCloud.js') }}"></script>
    <script type="text/javascript">
      $.ajax({
        method: 'GET',
        url: '/vizData.json',
        contentType: 'application/json',
        success: function(data) {
          switch({{ viz_type|tojson|safe }}) {
            case 'rollover':
              $('#title').text('Word Cloud');
              var options = {
                height: 500,
                cloudDomId: '#rollover',
                minColor: '#d9d9d9',
                maxColor: '#000000',
                minFontSize: '18',
                maxFontSize: '72',
              };
              generateRolloverCloud(options, data);
              break;
            case 'standard':
              $('#title').text('Word Cloud');
              var options = {
                height: 500,
                cloudDomId: '#standard',
                minColor: '#d9d9d9',
                maxColor: '#000000',
                minFontSize: '18',
                maxFontSize: '72',
              };
              generateStandardCloud(options, data);
              break;
            case 'word2vec':
              $('#title').text('Word Space');
              var options = {
                  width: 800,
                  height: 800,
                  cloudDomId: '#word2vec',
                  minColor: '#bab8b8',//'#d9d9d9',
                  maxColor: '#000000',
                  minFontSize: '18',
                  maxFontSize: '72',
                  xProperty: 'w2v_x',
                  yProperty: 'w2v_y',
                };
                generateWord2vecCloud(options, data);
              break;
            default:
              break;
          }
          $('#loading').remove();
        }
      });
    </script>

{% endblock %}
